{% extends 'base.html' %}

{% block content %}
<br/><br/>
<div class="shadow p-4 mb-5 bg-body rounded">
  <h2>My Support Tickets</h2>
  <br/>
  {% if tickets %}

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Ticket #</th>
          <th>Subject</th>
          <th>Status</th>
          <th>Category</th>
          <th>Urgency</th>
          <th>Submitted On</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
          <tr>
            <td>{{ ticket.ticket_no }}</td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.get_ticket_status_display }}</td>
            <td>{{ ticket.get_category_display }}</td>
            <td>{{ ticket.get_urgency_display }}</td>
            <td>{{ ticket.time_received|date:"M d, Y H:i" }}</td>
            <td>
              <a href="{% url 'ticket_detail' ticket_no=ticket.ticket_no %}">
                <button type="button" class="btn btn-outline-secondary btn-sm px-3 gap-3">View</button>
            </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You have not submitted any support tickets.</p>
  {% endif %}
  
  <br/><br/>
</div>
<div class="shadow p-4 mb-5 bg-body rounded">

  <p><form method="post" action="{% url 'submit_ticket' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-secondary">Submit a New Ticket</button>
</form></p>

</div>

{% endblock %}
