{% extends "base.html" %} 
{% block title %} Add Episode {% endblock %} 
{% block content %}
<br/>
<div class="shadow p-4 mb-5 bg-body rounded">
<h1>Add Episode</h1>
<br/>
{% if submitted %}

    <p>Episode Added Successfully!</p>
    <br/>
    <div class="card-footer">
        <div class="d-flex flex-wrap">
            <!-- Upload Media Button -->
            <form method="post" action="{% url 'upload_episode' episode.custom_id %}" class="me-2">
                {% csrf_token %}
                <input type="submit" value="Upload Media" class="btn btn-secondary">
            </form>
            <!-- Add Another Episode Button -->
            <a href="{% url 'add-episode' %}" class="btn btn-primary me-2">Add Another Episode</a>
            <!-- Add Another Program Button -->
            <a href="{% url 'add-program' %}" class="btn btn-primary me-2">Add Another Program</a>
        </div>
    </div>

{% else %}

    {% if user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <input type="submit" value="Add Episode" class="btn btn-primary">
    </form>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        You must be logged in to view this page
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}