{% extends "base.html" %} {% block title %} Add Episode {% endblock %} 
{% block content %}
<br/><br/>
<div class=WordSection1>

    <h1>How to Export Media from Adobe Premiere</h1>
    
    <p>Here's a step-by-step guide to export your video with the required
    specifications from Adobe Premiere Pro:</p>
    
    <div class=MsoNormal align=center style='text-align:center'>
    
    <hr size=0 width="100%" align=center>
    
    </div>
    
    <h3 id=HowtoExportMediafromAdobePremiere-1.SetUpYourSequenceSettings>1. Set
    Up Your Sequence Settings</h3>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span>Ensure your sequence resolution is set to either <strong>720p
    (1280x720)</strong> or <strong>1080p (1920x1080)</strong>.</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span>Set the <strong>frame rate</strong> to <strong>29.97 fps</strong>.</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span>Set the <strong>aspect ratio</strong> to either <strong>16:9</strong>
    or <strong>4:3</strong>.</p>
    
    <h3 id=HowtoExportMediafromAdobePremiere-2.ExportingYourFile>2. Exporting
    Your File</h3>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span>In the timeline, select the sequence you want to export.</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span>Go to <strong>File &gt; Export &gt; Media</strong> or use the
    shortcut <strong>Ctrl + M</strong> (Windows) or <strong>Cmd + M</strong> (Mac).</p>
    
    <h3 id=HowtoExportMediafromAdobePremiere-3.ExportSettingsPanel>3. Export
    Settings Panel</h3>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Format</strong>: Select <strong>H.264</strong> (for .mp4
    or .m4v) or <strong>QuickTime</strong> (for .mov).</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Preset</strong>: Choose a preset that’s closest to the
    required resolution (720p or 1080p).</p>
    
    <h3 id=HowtoExportMediafromAdobePremiere-4.VideoSettings>4. Video
    Settings</h3>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Resolution</strong>: Confirm <strong>1280x720</strong>
    for 720p or <strong>1920x1080</strong> for 1080p.</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Frame Rate</strong>: Set to <strong>29.97 fps</strong>.</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Aspect Ratio</strong>: Confirm it’s either <strong>16:9</strong>
    or <strong>4:3</strong> as required.</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Bitrate Settings</strong>:</p>
    
    <p style='margin-left:1.0in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
    </span></span>For <strong>720p</strong>, set the <strong>Bitrate</strong> to a
    target of <strong>5–7.5 Mbps</strong>.</p>
    
    <p style='margin-left:1.0in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:"Courier New"'>o<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;
    </span></span>For <strong>1080p</strong>, set the <strong>Bitrate</strong> to a
    target of <strong>8–12 Mbps</strong>.</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Encoding Settings</strong>: Ensure that the codec is <strong>H.264</strong>.</p>
    
    <h3 id=HowtoExportMediafromAdobePremiere-5.AudioSettings>5. Audio
    Settings</h3>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Audio Format</strong>: Set to <strong>AAC</strong>.</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Channels</strong>: Set to <strong>Stereo</strong>.</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Sample Rate</strong>: Set to <strong>48 kHz</strong> (if
    not automatically selected).</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span><strong>Audio Bitrate</strong>: Set to <strong>192 kbps</strong>
    or <strong>256 kbps</strong>.</p>
    
    <h3 id=HowtoExportMediafromAdobePremiere-6.FileNaming>6. File Naming</h3>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span>Name your file using only <strong>letters, numbers, dashes, and
    underscores</strong>.</p>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span>Avoid <strong>quotes (&quot;), ampersands (&amp;), slashes (/),
    and any special characters</strong>.</p>
    
    <h3 id=HowtoExportMediafromAdobePremiere-7.Exporting>7. Exporting</h3>
    
    <p style='margin-left:.5in;text-indent:-.25in'><span style='font-size:10.0pt;
    font-family:Symbol'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span></span>Click <strong>Export</strong> to start rendering your video, or
    choose <strong>Queue</strong> to export through Adobe Media Encoder.</p>
    
    <div class=MsoNormal align=center style='text-align:center'>
    
    <hr size=0 width="100%" align=center>
    
    </div>

    {% endblock %}