{% extends "base.html" %} 
{% block title %} Getting Started {% endblock %} 
{% block content %}
<br/><br/>
<div class=WordSection1>

    <h1>Getting Started with Atlanta 24 Community Media</h1>
    
    <p>Here's a step-by-step for using this website:</p>
    
    <div class=MsoNormal align=center style='text-align:center'>
    
    <hr size=0 width="100%" align=center>
    
    </div>
    
    <h5 id=HowtoExportMediafromDaVinciResolve-1.SetUpYourProjectSettings>1. Click
    ‘Register’ to create a login and password.</h5>
    
    <h5>2. Click ‘Add Channel’ to enter your channel name and contact information.</h5>
    
    <h5>3. Click ‘Add Program’ to enter the name of your first program.</h5>
    
    <h5>4. Click ‘Add Episode’ to enter the name of your first program
    episode.</h5>
    
    <h5>5. Click ‘My Episodes’ to view your episodes.</h5>
    
    <h5>6. Click ‘Upload Media’ to upload media containing your episode.</h5>

    <h5>7. Click ‘View Media Info’ to review media information for your uploaded media.</h5>
    
    <div class=MsoNormal align=center style='text-align:center'>
    
    <hr size=0 width="100%" align=center>
    
    </div>
    
    <p>By following these instructions, you will submit your first program and
    episode to Atlanta 24 Community Media.</p>
    
    </div>

    {% endblock %}