<!-- my_episode_analysis.html -->
{% extends "base.html" %} 
{% block title %} Episode Analysis {% endblock %} 
{% block content %}

<div class="container mt-5">
    <div class="shadow p-4 mb-5 bg-body rounded">    
        <h1 class="mb-4">Episode Analysis for {{ episode.title }}</h1>
        {% if user.is_authenticated %}            
            <div class="card mt-4">
                <div class="card-header">
                    <h5 class="card-title">Episode Number: {{ episode.episode_number }} </h5>
                </div>
                <div class="card-body">
                    <form>
                        {% csrf_token %}

                        <div class="row">

                            <div class="col-md-6 mb-3">
                                <label class="form-label">{{ form.ready_for_air.label }}:</label>
                                <p>{{ form.ready_for_air.value|yesno:"Yes,No" }}</p>

                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">Has MediaInfo Errors:</label>
                                <p>{{ form.has_mediainfo_errors.value|yesno:"Yes,No" }}</p>
                            </div>

                        </div>

                        <div class="row">

                            <div class="mb-3">
                                <label class="form-label">{{ form.transcription.label }}:</label>
                                <pre class="form-control" readonly rows="3">{{ form.transcription.value }}</pre>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{ form.ai_summary.label }}:</label>
                                <pre class="form-control" readonly style="white-space: pre-wrap; word-wrap: break-word;" rows="3">{{ form.ai_summary.value }}</pre>
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">{{ form.ai_genre.label }}:</label>
                                <input type="text" readonly class="form-control-plaintext" value="{{ form.ai_genre.value }}">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="form-label">{{ form.ai_age_rating.label }}:</label>
                                <input type="text" readonly class="form-control-plaintext" value="{{ form.ai_age_rating.value }}">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{ form.ai_topics.label }}:</label>
                            <textarea class="form-control" readonly rows="3">{{ form.ai_topics.value }}</textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">AI Time Slots Recommended:</label>
                            <textarea class="form-control" readonly rows="2">{{ form.ai_time_slots_recommended.value }}</textarea>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">{{ form.audience_engagement_score.label }}:</label>
                                <input type="text" readonly class="form-control-plaintext" value="{{ form.audience_engagement_score.value }}">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{ form.duration_seconds.label }}:</label>
                                <input type="text" readonly class="form-control-plaintext" value="{{ form.duration_seconds.value }}">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{ form.audience_engagement_reasons.label }}:</label>
                            <textarea class="form-control" readonly rows="3">{{ form.audience_engagement_reasons.value }}</textarea>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                            <label class="form-label">Prohibited Content:</label><p>{{ form.prohibited_content.value|yesno:"Yes,No" }}</p>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">{{ form.duration_seconds.label }}:</label>
                                <input type="text" readonly class="form-control-plaintext" value="{{ form.duration_seconds.value }}">
                            </div>

                        </div>
                        <div class="mb-3">
                            <label class="form-label">{{ form.prohibited_content_reasons.label }}:</label>
                            <textarea class="form-control" readonly rows="3">{{ form.prohibited_content_reasons.value }}</textarea>
                        </div>

                    </form>
                </div>
            </div>

        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                You must be logged in to view this page
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
