<!-- update_analysis.html -->

{% extends "base.html" %}
{% block title %}Update Analysis{% endblock %}
{% block content %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <h1>Update Analysis for {{ form.title.value }}</h1>

    {% if submitted %}
        <div class="alert alert-success">Analysis Updated Successfully!</div>
    {% else %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update Analysis" class="btn btn-primary">
        </form>
    {% endif %}
</div>
{% endblock %}
