{% extends "base.html" %} 
{% block title %} Upload Success {% endblock %} 
{% block content %}

<div class="shadow p-4 mb-5 bg-body rounded">
    <br/>
    <h1>Episode Uploaded</h1>
    <br/>

    <div class="card mt-4">
        <div class="card-header">

            <h5 class="card-title">Episode Title: {{ episode.title }}</h5>

        </div>

        <div class="card-body">
            <br/>
            <p>Episode Uploaded Successfully!</p>

        </div>

        <div class="card-footer">
            <div class="d-flex flex-wrap gap-2">
                {% if episode.file_name %}
                    {% if not episode.has_mediainfo_errors %}
                        <a href="{% url 'view_episode' episode.custom_id %}" class="btn btn-primary ">View Episode</a>
                        <a href="{% url 'episode_media_info' episode.custom_id %}" class="btn btn-outline-secondary">View Media Info</a>
                    {% else %}
                        <a href="{% url 'episode_media_info' episode.custom_id %}" class="btn btn-outline-danger">View Media Info</a>
                    {% endif %}
                {% endif %}

                {% if not episode.file_name %}
                    <form method="post" action="{% url 'upload_episode' episode.custom_id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Upload Media</button>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'upload_episode' episode.custom_id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary">Upload Media</button>
                    </form>
                {% endif %}

                <a href="{% url 'update-episode' episode.custom_id %}" class="btn btn-outline-secondary">Update Metadata</a>
                <!-- <a href="{% url 'my-episodes' %}" class="btn btn-outline-secondary">My Episodes</a>
                <a href="{% url 'my-programs' %}" class="btn btn-outline-secondary">My Programs</a> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
