{% extends "base.html" %} {% block title %} Login {% endblock %} 
{% block content %}

<div class="shadow p-4 mb-5 bg-body rounded">
<h1>Login</h1>

<form action="" method="POST">
    {% csrf_token %}


        <div class="mb-3">
          <label for="InputUsername" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" aria-describedby="username">

        <div class="mb-3">
          <label for="InputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
        </div>

    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-secondary">

</div>

  <a href="{% url 'password_reset' %}" class="btn btn-link">Forgot your password?</a>

</div>
<br/><br/>
{% endblock %}